button{
    border: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px 4px aqua;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #5dc1b8;

}

